body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #7a895e;
    color: white;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-image: url('hero-image.jpg'); /* Replace with your image path */
    background-size: cover;
    color: rgb(54, 37, 37);
    text-align: center;
    padding: 100px 20px;
}

.cta-button {
    background-color: #FF5722;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    padding: 50px 20px;
    text-align: center;
}

.features .feature {
    margin: 20px 0;
}

.feature-button {
    background-color: #2196F3;
    color: white;
    margin: 10px;;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.motivation {
    background-color: #f9f9f9;
    padding: 30px 20px;
    text-align: center;
}

.featured-workouts, .testimonials {
    padding: 50px 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-links, .social-media, .download-app {
    margin: 10px 0;
}

.footer-links a, .social-media a, .download-app a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}